.chat {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    text-align: center;
    color: #063d60;
    font-family: var(--paragraph);
    font-weight: bolder;
    font-size: 2rem;
    border-style: solid;
    margin-bottom: 1rem;
    border-color: #7a7a7a;
}

.message-box {
    max-height: 70vh;
    overflow-y: auto;
    flex-grow: 1;
}

.message-box::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    flex-basis: 30%;
    max-width: 30%; /* Set a maximum width for the username container */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

.user-message {
    margin-left: 1rem;
    flex-basis: 70%;
    max-width: 70%; /* Set a maximum width for the message container */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

@media screen and (max-height: 400px) {
    .message-box {
        max-height: 58vh;
    }
}

