.info--selected__paragraph {
    padding-left: 1.56rem;
    color: var(--primary-color);
}

.hidden {
    display: none;
}

/*Page-Home*/
.page-home-wrapper {
    position: relative;
    background-color: var(--light-background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xs) 0.31rem;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    font-size: 2.25rem;
    color: var(--color-black);
    font-family: var(--paragraph);
}

/*Page-Home__Main*/
.page-home__main {
    margin: 0 4rem 0 4rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: var(--color-dimgray);
    background-color: var(--color-whitesmoke-100);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-bottom: 0;
    background-color: var(--color-bg-secondary);
}

/*Page-Home__eSports*/
.sport-buttons * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sport-buttons {
    margin: auto;
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 45px;
    background: #151515;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.bet-games {
    list-style: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 6rem;
    width: 25%;
    background: #202020;
    border-top: 1px solid #353535;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
    transition: all .5s;
&:nth-of-type(1) {
     border-top-left-radius: 40px;
     border-bottom-left-radius: 40px;
 }
&:last-of-type {
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
 }
&:hover {
     cursor: pointer;
 }
& svg {
      display: inline-block;
      fill: rgb(128, 128, 128);
      text-decoration: none;
      font-size: 40px;
      transition: all .5s;
  }
}

.active-game {
    background: #151515;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);

& svg {
      width: 60%;
      fill: #23A6F0FF;
      filter: drop-shadow(0 0 15px #063d60);
  }
}

/*Bets Carousels*/
.carousel-container {
    margin-top: 2rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-bg-secondary);
    border: 3px solid var(--color-black);
    padding: 0 2px 2px 2px;
}

.carousel-category {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0;
    margin-bottom: 1rem;
    font-family: var(--font-raleway);
    font-weight: bolder;
    font-size: 2rem;
}

.chat-module {
    display: flex;
    width: 22%;
    min-width: 22%;;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: white;
    border: 3px solid var(--color-black);
    justify-content: center;
}

#live-bets__tab {
    border-radius: var(--br-3xs) 0 0 0;
    border-left: 0;
    border-top: 0;
}

#pre-bets__tab {
    border-radius: 0 var(--br-3xs) 0 0;
    border-right: 0;
    border-top: 0;
}

.bet-category {
    width: 50%;
    text-align: center;
    border-radius: var(--br-3xs);
    border: 3px solid var(--color-black);
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    overflow: hidden;
}

.bet-category.active {
    width: 65%;
}

.bet-category.inactive {
    width: 35%;
}

/*  TODO: lines 116 - 216 fix styles, make them normal */
.bet-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.bet-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/*anim*/
.bet-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.insurance-label {
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 3px;
}

.bet-insurance {
    margin-left: 1.8rem;
}

.thank-you-container {
    background-color: #28a745; /* Green color for thank you message */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Adjust the max-width as needed */
    text-align: center;
    display: none; /* Initially hide the thank you container */
}

/* Adjust styles for better visibility of the label and input elements */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="checkbox"] {
    margin-bottom: 10px;
}

/* Add animation styles */
#possible-win {
    font: 800 40px var(--font-raleway);
    margin-bottom: 10px;
    display: inline-block;
}

.value-changed {
    animation: fadeAndScale 0.6s ease-in-out;
}


/*Page-Home__Footer*/
.page-home__footer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: var(--font-size-xl);
}

.betting-carousel__bet-zone {
    height: 100%;
    width: 78%;
}

/* Default iframe width for larger screens */
#carousels iframe {
    width: 100%;
    max-width: 1200px;
    height: 400px;
}

/*Thank you toast*/
#ty-toast__container {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin-left: -125px;

    /*margin: auto;*/
    background-color: rgba(40, 167, 69, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#ty-toast__container #ty-toast__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    float: left;
    box-sizing: border-box;
    background-color: rgba(40, 167, 69, 0.5);
}

#ty-toast__container #ty-toast__text {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#ty-toast__container.show {
    visibility: visible;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

.ty-toast__logo {
    width: 30px;
}


/*Mobile version styles*/
@media screen and (max-width: 1325px) {
    .betting-carousel__bet-zone {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .bet-game {
        margin: 1px;
        height: 3rem;
        width: 25%;
& svg {
      width: 30px;
  }
}

.page-home__footer {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: center;
    justify-content: center;
}

.page-home__main {
    flex-direction: column;
    margin: 0 0.5rem 0 0.5rem;
    padding: var(--padding-10xl) 1.2rem var(--padding-10xl) 1.2rem;
    gap: 1.2rem;
}

#carousels iframe {
    max-width: 100%;
    height: 487px;
    padding: 0;
}

.bet-category {
    font-size: 1.5rem;
}

.chat-module {
    width: 100%;
    min-height: 400px;
}
}

