.sorry-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-bg-secondary);
}

.sorry-sign {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
    color: #063d60;
    font-weight: bolder;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .sorry-sign {
        font-size: 1.5rem; /* Adjust font size for medium screens */
        gap: 3rem; /* Adjust gap for medium screens */
    }
}

/* Adjust styles for smaller screens */
@media (max-width: 576px) {
    .sorry-sign {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
        gap: 2rem; /* Adjust gap for smaller screens */
    }
}
