/*Thank you toast*/
#ty-toast__container {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin-left: -125px;

    /*margin: auto;*/
    background-color: rgba(40, 167, 69, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#ty-toast__container #ty-toast__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    float: left;
    box-sizing: border-box;
    background-color: rgba(40, 167, 69, 0.5);
}

#ty-toast__container #ty-toast__text {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#ty-toast__container.show {
    visibility: visible;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

.ty-toast__logo {
    width: 30px;
}

@keyframes fadeAndScale {
    0% {
        bottom: 0;
        opacity: 0;
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
        bottom: 15px;
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }
    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }
    to {
        min-width: 350px
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 50px;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}

