body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --paragraph: Montserrat;
    --font-raleway: Raleway;

    /* font sizes */
    --font-size-xl: 1.25rem;
    --paragraph-size: 1rem;
    --link-size: 0.88rem;

    /* Colors */
    --light-background-color: #fff;
    --color-black: #000;
    --color-whitesmoke-100: #ebebeb;
    --text-color: #252b42;
    --primary-color: #23a6f0;
    --color-dimgray: #7a7a7a;

    /* Gaps */
    --gap-3xs: 0.63rem;

    /* Paddings */
    --padding-11xs: 0.13rem;
    --padding-3xs: 0.63rem;
    --padding-10xl: 1.81rem;
    --padding-2xl: 1.31rem;
    --padding-7xl: 1.63rem;
    --padding-lg: 1.13rem;
    --padding-3xl: 1.38rem;

    /* border radiuses */
    --br-3xs: 10px;
    --br-5xl: 24px;
    --br-8xs: 5px;
}

.paragraph {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 1.63rem;
    color: var(--text-color);
    text-align: left;

    font-size: var(--paragraph-size);
    font-weight: 500;
    font-family: var(--paragraph);
}

.paragraph--special {
    font-weight: 750;
    color: #676634FF;
}

/*Navbar__Brand*/
.navbar__brand,
.navbar__brand__content {
    width: 11.69rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar,
.navbar-collapse.collapse {
    background-color: transparent !important;
}

.brand__name {
    position: relative;
    line-height: 2rem;
}

/*Collapse__Nav*/
.collapse__nav {
    flex-grow: 1;
    width: 18.06rem;
    flex-shrink: 0;
}

.collapse__nav__content,
.nav__link,
.link--current {
    display: flex;
    align-items: center;
}

.collapse__nav__content {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.31rem;
}

/*Nav__Link*/
.nav__link {
    flex: 1;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
}

.link,
.link--current {
    background: none !important;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    margin-left: -2.30rem;
    padding-left: -2.30rem;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 0.2px;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.user__money {
    width: 25px;
}

.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
}

.link--current {
    color: var(--primary-color);
    background: none !important;
    border: none;
}

.link:visited,
.link:link {
    transition: 0.35s;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-dimgray);
}

.link:hover,
.link:focus {
    text-decoration: none;
    color: var(--primary-color);
}

.link--current:visited,
.link--current:link,
.link--current:hover,
.link--current:focus {
    text-decoration: none;
    color: var(--primary-color);
}

/*Navbar__Search*/
.navbar__search {
    flex-direction: row;
    width: 19.81rem;
    flex-shrink: 0;
}

.navbar__search__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.search__input {
    border: 1px solid #dadada;
    font-family: var(--paragraph);
    font-size: var(--link-size);
    background-color: #f5f5f5;
    align-self: stretch;
    border-radius: var(--br-8xs);
    overflow: hidden;
}

.search__button {
    height: 2.1rem;
    width: 2.1rem;
    border: 1px solid #dadada;
    background-color: #f5f5f5;
    border-radius: var(--br-8xs);
    background-image: url("../img/buttons/button-search.svg");
    background-position: center;
    background-size: contain;
    margin-left: 0.25rem;
    cursor: pointer;
}

.search__button:active {
    box-shadow: 0.02rem 0.02rem 0.02rem var(--color-dimgray);
}

/*Footer__Logo*/
.footer__logo {
    user-select: none;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: space-between;
}

.logo__image {
    position: relative;
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
    object-fit: cover;
}


/*Auth Data Input*/
.auth-data__header,
.auth-data__main {
    display: flex;
    justify-items: center;
    align-items: center;
}

.main__form {
    height: 15.96rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.terms-check {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: var(--font-raleway);
    gap: 0.4rem;
}

.form__input-field {
    border: 0;
    border-bottom: 0.2rem solid var(--text-color);
    background-color: var(--color-whitesmoke-100);
    font-family: var(--font-raleway);
    font-size: 1.12rem;
    width: 18.12rem;
    height: 2.85rem;
    padding-left: 0.85rem;
}

.form__input-file:hover,
.form__input-file:focus {
    color: var(--primary-color);
    cursor: pointer;
}

.form__submit-btn {
    position: relative;
    width: 19.2rem;
    height: 3.2rem;
    flex-shrink: 0;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #354545;
    border-radius: 4px;
}

.submit-btn__text {
    font-size: 0.96rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--paragraph);
    color: var(--light-background-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__wrapper {
    position: relative;
    background-color: var(--light-background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xs) 0.31rem;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    font-size: 2.25rem;
    color: var(--color-black);
    font-family: var(--paragraph);
}

.page {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.71rem;
}

.auth-data__footer {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-data__footer__link {
    font-size: 0.94rem;
    letter-spacing: 0.1px;
}

.auth-data__footer__link:visited,
.auth-data__footer__link:link {
    transition: 0.15s;
    text-decoration: none;
    color: #354545;
}

.auth-data__footer__link:hover,
.auth-data__footer__link:focus {
    text-decoration: none;
    color: var(--primary-color);
}

.main__auth-data {
    height: 26.08rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 4rem;
    gap: 1rem;
    color: var(--text-color);
    font-family: var(--paragraph);
}

.logo {
    position: relative;
    width: 22.75rem;
    height: 22.75rem;
    flex-shrink: 0;
    object-fit: cover;
}

.page__header {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--text-color);
    align-self: stretch;
    display: flex;
    align-items: center;
}

.page__navbar {
    align-self: stretch;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    padding: 1rem 8.5rem;
    justify-content: space-between;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: var(--color-dimgray);
    background-color: var(--color-whitesmoke-100);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--primary-color);
    border-bottom: 0;
    background-color: var(--light-background-color);;
}

.page__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: #d9d9d9;
    border: 3px solid var(--color-black);
    padding: var(--padding-10xl) 2.94rem var(--padding-10xl) 2.94rem;
    justify-content: center;
    gap: 1.88rem;
    font-size: 1.56rem;
}

.page__footer {
    display: flex;
    padding-top: 2.3rem;
    flex-direction: row;
}

.footer__copy {
    font-family: var(--font-raleway);
    color: var(--text-color);
    width: 50%;
    font-size: 1rem;
    text-align: left;
}

.footer__payment {
    width: 50%;
}

.footer__payment__logo {
    height: 100%;
    position: relative;
    float: right;
}

.bets__carousel-module {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}


/*Mobile version styles*/
@media screen and (max-width: 1325px) {
    .navbar__collapse__content,
    .collapse__nav__content {
        flex-direction: column;
        gap: 0.94rem;
        align-items: center;
        justify-content: center;
    }

    .navbar__brand__content,
    .navbar__collapse__content {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1325px) {
    .page__navbar {
        flex-direction: column;
        gap: 0.06rem;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        justify-content: space-around;
    }
}

@media screen and (max-height: 925px) {
    .footer__copy {
        font-size: 0.6rem;
    }

    .page {
        gap: 1.5rem
    }

    .page__footer {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
}

