.hidden {
    display: none;
}

/*Page-Signup__Main*/
.page-signup__main {
    margin: 0 16rem 0 16rem;
    gap: 7.88rem;
}

/*Page-Signup__Footer*/
.page-signup__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.counter {
    text-align: center;
}

a.link.terms-link {
    font-family: var(--font-raleway);
    font-size: 1.15rem;
    margin-left: 0;
    text-decoration: underline;
}

.number-count {
    font-size: 2rem;
    width: 5rem;
    font-weight: bold;
    position: relative;
    color: #000000;
    text-align: center;
    display: inline-block;
}

.users-statistics {
    color: var(--text-color);
    font-family: var(--paragraph);
}

.footer__user-statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistics__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    width: 6rem;
    margin-right: 2rem;
}

.user-count-text {
    font-size: var(--font-size-xl);
}

/*Mobile version styles*/
@media screen and (max-width: 925px) {
    #sign-up__img,
    #footer__logo-right {
        display: none;
    }

    .number-count {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .users-statistics h3 {
        font-size: 1rem;
    }

    .footer__logo {
        width: 40%;
        padding-top: 1.5rem;
        margin-right: 0;
    }

    .page-signup__main {
        flex-direction: column;
        margin: 0 0.5rem 0 0.5rem;
        padding: var(--padding-10xl) 1.2rem var(--padding-10xl) 1.2rem;
        gap: 1.2rem;
    }

    .page-signup__footer {
        display: contents;
    }
}